<style>

</style>

<!-- Toolbar -->
<div class="toolbar">
  <img _ngcontent-swj-c0="" alt="" src="../assets/logo.png" width="40">
  Draw for the helthy world
</div>

<app-drawcanvas></app-drawcanvas>
<!-- 
<div class="button" (click)="changeMyMind()">
  <span class="uppercase" >{{text}}</span>
  <span class="small" *ngIf="text">*click to change your mind to everyone</span>
  <span class="small" *ngIf="!text">...</span>
</div>

<div class="share">
  <share-buttons theme="material-dark" show="11" url="https://shouldistayathome.com/"></share-buttons>
</div> -->


<router-outlet></router-outlet>
